<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Editar datos de alumnos</h1>
    <br>


    <button type ="button">
        <a href="{% url 'alumnosAdd'} %"> Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
        
        {{mensaje}}
        
        {endfor%}
    </div>

        <table>
            {% if alumnos %}
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Eliminar</th>
                <th>Modificar</th>
                {% for x in alumnos %}

                    <tr>

                        <td>{{ x.rut}}</td>
                        <td>{{ x.nombre}}</td>
                        <td>{{x.apellido_paterno}}</td>
                        <td> <a href="{% url 'alumnos_del' pk=x.rut %}">Eliminar</a></td>
                        <td> <a href="{% url 'alumnos_findEdit' pk=x.rut %}">Modificar</a></td>

                    </tr>
                {%endfor%}
             endif
        </table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slou");
    });
</script>


</body>
</html>